 
/*---genereral style---*/
 body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.5;
}

/*headings--*/
h1,h2{
    color: darkblue; /*----color of heading---*/
}

/*---paragraph style---*/
p{
    color: darkred; /*----color of paragraph---*/
}

/*--- navigation style---*/
nav {
    background-color: darkblue; /*----color of navigation bar---*/
    color: #fff;
}